* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body {
    font-family: "Montserrat", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - 618px);
    padding-right: calc(50% - 618px);
  }

  a {
    text-decoration: none;
  }

  .hat-wrapper {
    background: url(img/fon_main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
  }

  .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;
  }

  .text {
    height: 64px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    width: 481px;
  }

  .check {
    margin-top: 44px;
    background: #9C0332;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
    width: 234px;
    height: 46px;
    transition: all 0, 3s;
  }

  .check_text {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }

  .check:hover {
    color: #ffffff;
    background-color: #cac3c3;
  }

  .game_main {
    background-color: #000915;
    height: 556px;
  }


  .game-list {
    display: flex;
    gap: 32px;
    flex-direction: row;
    padding-top: 128px;
  }

  .game_link {
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    padding: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }

  .game_link-1 {
    background-image: url(img/game_1.png);
  }

  .game_link-2 {
    background-image: url(img/game_2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .game_link-3 {
    background-image: url(img/game_3.png);
  }
